<nav class="navbar navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to 'Home', controller: 'welcome' %>
      </li>
      <li>
        <%= link_to 'My Blog', controller: 'articles' %>
      </li>
      <li>
        <%= link_to 'New article', new_article_path %>
      </li>
    </ul>
  </div>
</nav>